<h1>Login</h1>

<%= form_tag '/login' do %>
<div class="field">
  <em><%= flash[:login_error] %></em>
</div>
<div class="field">
  <%= label_tag :email %>
  <%= text_field_tag :email %>
</div>
<div class="field">
  <%= label_tag :password %>
  <%= password_field_tag :password %>
</div>
<div class="action">
  <%= submit_tag :login %>
</div>
<% end %>

<p>Don't have an account? <%= link_to 'Create one!', new_user_path %></p>
