<%= form_for([@user, @link]) do |f| %>

<div class="errors">
  <ul>
  <% @link.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<div class="field">
  <em><%= flash[:url_not_unique] %></em><br>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :link_url %>
  <%= f.text_field :link_url %>
</div>

<div class="field">
  <%= f.label :img_url %>
  <%= f.text_field :img_url %>
</div>

<div class="action">
  <%= f.submit %>
</div>

<% end %>
